<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>BumbleBee</title>
    <link href="web/bundle.css" rel="stylesheet">
</head>
<body>
<h1>Welcome to BumbleBee application</h1>
</body>
</html>